/* div, form, paragraph,button */
*{
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
};

#theme-toggle-btn{
    border-width:3px;
    background-color:#cae8ca;
    border-style:solid;
    position:fixed;
    padding:7px;
    bottom:0;
    right:0;
    max-width:450px;
    z-index:999
}